.header {
  grid-area: header;

  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 0;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navLink {
  padding: 1rem 0;
}
